#container {
    background-color: black;
    height: 380px;
    width: 180px;
    border-radius: 30px;
    margin: auto;
    padding-top: 2px;
}
.light {
    width: 150px;
    height: 100px;
    border-radius: 70%;
    margin: auto;
    padding-top: 20px;
    margin-top: 5px;
    &.red {background-color: red;}
    &.yellow {background-color: yellow;}
    &.green {background-color: green;}
    &.clicked {box-shadow: #f8ffcc 0px 0px 50px 20px;}
}